.side-drawer {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  /*fixme height mobile rotate*/
  height: 100vh;
  width: 20%;
  /*background: var(--dark-color);*/
  background: rgb(130,130,130);
  background: linear-gradient(90deg, rgba(130,130,130,1) 17%, rgba(189,189,189,1) 93%);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  animation:anim-left .2s ease-in-out;
}


.side-drawer h2 {
  padding: 1rem 0;
  margin: 0;
  background: yellow;
}
.side-drawer ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 1rem;
  font-size: 1rem;
}
.side-drawer ul li {
  padding: .5rem 1rem .5rem .2rem ;
}
.side-drawer ul li a {
  text-decoration: none;
  /*background: var(--dark-color);*/
  color: var(--light-color);
  text-transform: capitalize;
}

.side_footer {
  position: relative;
  bottom: 0;
  left: 0;

}
.side_footer ul {
  position: fixed;
  bottom: 0;
  left: 0;

}
@media (max-width: 768px) {
  .side-drawer{
    width: 40%;
  }
  .side-drawer ul {
    font-size: var(--font-sm);
  }
  .side-drawer ul li {
    padding: .3rem 1rem .3rem .2rem ;
  }
}
@media (max-width: 480px) {
  .side-drawer{
    width: 60%;
  }
}
@keyframes anim-left {
  0% {
    opacity:0;
    -webkit-transform:translateX(-100px);
    transform:translateX(-100px)
  }
  50% {
    opacity:.5
  }
  to {
    opacity:1
  }
}
